run = "npm run dev"
entrypoint = "index.html"

[nix]
channel = "stable-22_11"

[deployment]
build = "npm run build"
publicDir = "dist"
deploymentTarget = "static"

[languages.javascript]
pattern = "**/*.{js,jsx,ts,tsx,mjs}"
syntax = "javascript"

[languages.html]
pattern = "**/*.html"
syntax = "html"

[languages.css]
pattern = "**/*.css"
syntax = "css"